<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.1" package="uxdivers.gorilla" android:versionCode="3">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="Gorilla" android:icon="@drawable/icon" android:largeHeap="true"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>